.main-header{
    background: #003399;;
}
.header-top{
    background: #003399;
}
.header-top h1{
    font-size: 51pt;
    color: #ffffff;
}
.header-top p{
    font-size: 17pt;
    color: #999999;
}
.header-top form {
    margin-left: 61.5px;
}
.header-top .btn-cls{
    margin-top: 51px;
}


.header-middle-ctn {
    background: #333333;
}
.header-middle-a{
    color: #ffffff;
}
.header-middle ul li .header-middle-a1{
    background: #ccff00;
    padding: 8px;

}

.header-middle  .nav-item {
    margin-left: -4px;
    margin-right: 46px;
}
.header-middle nav {
    padding:1px ;
}

.header-last{
    margin-top: 10px;

}
.header-last h3{
    background: white;
    color: black;
    font-size: 22px;
    /*height: 38px;*/
    padding: 4px;

}
.header-last marquee{
    color: #ffffff;
    background:#333333 ;
    height: 34px;
}

.slider-ctn {
    margin-left: 19%;
    margin-right: 10%;
    margin-top: 41px;
    height: 350px;
    width: 880px;
}



.banner{
    margin-top: 280px;
    background: #dee2e6;
}



@media screen and (max-device-width: 778px){
    .header-top form {
        margin-left: 0px;
    }
    .slider-ctn {
        margin-left: 0;
        margin-top: 0;
        margin-right: 0;
        width: 100%;

    }
    .banner{
        margin-top: -25px;
    }

}